.git
**/__pycache__
**/*.pyc
**/node_modules
client_apk
client_web
client_satellite
!client_satellite/context_bridge
client_satellite/context_bridge/build
client_satellite/context_bridge/dist
client_satellite/context_bridge/*.egg-info
data
installer_wizard/venv
*.log
ssh_debug*
